<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylsesheet.css">
</head>


<h1>West Point Athletic Hub</h1>

/* Acts as a reference which directs the user to the webpage containing 
  the roster info. */

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sport Rosters</button>
  <div id="myDropdown" class="dropdown-content">
    <a href=https://goarmywestpoint.com/roster.aspx?path=baseball>Baseball</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=msoc>Soccer</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=football>Football</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=wrugby>Women's Rugby</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=mrugby>Men's Rugby</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=wlax>Women's Lacrosse</a>
    <a href=https://goarmywestpoint.com/roster.aspx?path=mlax>Men's Lacrosse</a>
  </div>
</div>

<body>


<h2> <u> Upcoming Games </u> </h2>

<ul>
{% for game in latest_games %}
<li> {{game.sport.sportName }} {{game.location}} {{game.homeTeam}} {{game.awayTeam}} {{game.gameTime}} </li>
{% endfor %}
</ul>

</body>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</html>
